
@font-face {
    font-family: 'interregular';
    src: url('../fonts/inter-regular-webfont.eot');
    src: url('../fonts/inter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter-regular-webfont.woff2') format('woff2'),
         url('../fonts/inter-regular-webfont.woff') format('woff'),
         url('../fonts/inter-regular-webfont.ttf') format('truetype'),
         url('../fonts/inter-regular-webfont.svg#interregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDE6DD;
}
 /* Универсальное свойство блока */
.container{    
    max-width: 1200px;
    margin: auto; 
    display: flex;
    justify-content: space-between; 
    
}
 /* Универсальное свойство блока */

 /* Шапка */

 /* Верхний и нижний отступы в шапке */
header{ 
    padding: 40px 0;
    /* margin-bottom: 80px; */
}/* Верхний и нижний отступы в шапке */
            
/* Блок-список НП */
#my{
    display: flex; 
    list-style: none;
    gap: 40px;
}

.item_link{  /* Шрифт списка в НП */
    text-decoration: none;
    color: #1E1928;
    font-family: Roboto,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
/* Эфект вращения */
header nav ul li:hover{ 
    transform: rotate(360deg);
    transition: 0.3s;
}
/* Блок-список НП */
/* Конец Шапки */

/* Первая секция */
.section-1{
    padding-bottom: 196px;
    padding-top: 80px;
}
/* Левый блок секции с формой регистрации */
.section-1 hard_enough{
    max-width: 549px;
}
.imagefam{
    display: block; 
    width: 100%;   
}
/* Заголовок */
.section-1 .hard_enough h1{ 
                    color: #1E1928;
                    font-family: Roboto;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 58px;
                    margin-bottom: 24px;
}/* Заголовок */

.section-1 .hard_enough p{
                    margin-bottom: 4px;

                    color: rgba(30, 25, 40, 0.80);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.252px;
}
.section-1 .hard_enough p:nth-child(3){max-width: 549px;
                    margin-bottom: 24px;

                    color: rgba(30, 25, 40, 0.80);
                    font-family: interregular;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.252px;
}
/* Try it for free */
.section-1 .hard_enough p:nth-child(4){
                    color: #1E1928;
                    font-family: interregular;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.252px;
}
/* Форма для регистрации */
.form-block{
                    border-radius: 9999px; 
                    background: #FFF; 
                    padding: 8px 12px; 
                    display: flex; 
                    max-width: 448px; 
                    justify-content: space-between;
}
/* Поле ввода номера тел. */
                    .form-block input{
                            width: 180px;
                            border: none;
                            background-color: transparent;
                            padding: 10px 19px;
                            color: rgba(30, 25, 40, 1);
                            text-align: center;
                            font-family: interregular;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                    }
                    /* Кнопка отправки */
                    .form-block button{
                            padding: 10px 32px;
                            border-radius: 9999px;
                            background: #1E1928;
                            color: #F4EFE9;
                            font-family: interregular;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400px;
                            line-height: 20px;
                    }/* Форма для регистрации */
/* Правый блок секции-1 с изображением */
.family-image{
    max-width: 564px;
}
/* Вторая секция */
.section-2{
    display: flex;
    
    justify-content: center;
    padding-top: 270px; 
    padding-bottom: 44px; 
    background-color: #FFD394;
    background-image: url('../images/serybely.png');
    background-position: bottom -241px left 0px;
    background-repeat: no-repeat;
    position: relative;
}  
/* Белый блок  */
.freeblock{display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    border-radius: 8px;
    width: 100%;
    padding: 80px 0px;
    background: #fff;                    
    position: absolute;
    top: -190px;
    left: calc(50% - 600px);    
}
 /* Контент белого блока */
    .how-it h2{
        color: #1E1928;    
        text-align: center;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;   
    }
   
    .freeblock p{max-width: 653px;
        margin: auto;
        
        margin-bottom: 28px;
        color: rgba(30, 25, 40, 0.80);    
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.252px;
    }
    .freeblock a{
        text-decoration: none;                                           
        padding: 10px 33px;
        border: 1px solid #1E1928;
        border-radius: 9999px;
        background: #FFFFFF;color: #1E1928;    
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;   
    } /* Контент белого блока */
/* Белый блок  */



.section-2 h2{/* How it works */
    color: #1E1928;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;   
}
/* Правый список */
.how-it{  
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
}
.rightlist{ 
    list-style: none;
    margin-bottom: 42px;
    max-width: 566px;
}
.first-paragraph{
    margin-top: 4px;
    margin-left: 64px;
    margin-bottom: 32px;
    color: rgba(30, 25, 40, 0.80);
    font-family: interregular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.176px;   
}
.second-paragraph{
    margin-top: 4px;
    margin-left: 64px;
    margin-bottom: 38px;
    color: rgba(30, 25, 40, 0.80);
    font-family: interregular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.176px;   
}
.third-paragraph{
    margin-top: 4px;
    margin-left: 64px;
    color: rgba(30, 25, 40, 0.80);
    font-family: interregular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.176px;   
}
.rightlist li{ /* List's font-stile */
    color: #1E1928;
    font-family: interregular;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 0.252px;
}


.rightlist li:before{
    display: inline-flex;
    justify-content: center;
    content:"1";
    background-color: black;    
    margin-right: 20px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
     /*Number -1 Font-style*/
    color: #EDE6DD;
    text-align: center;
    font-family: interregular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: 0.252px;
}
.rightlist li:nth-child(2):before{
    display: inline-flex;
    justify-content: center;
    content:"2";
    background-color: black;    
    margin-right: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
     /*Number -2 Font-style*/
    color: #EDE6DD;
    text-align: center;
    font-family: interregular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: 0.252px;
}
.rightlist li:nth-child(3):before{
    display: inline-flex;
    justify-content: center;
    content:"3";
    background-color: black;    
    margin-right: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
        /*Number -3 Font-style*/
    color: #EDE6DD;
    text-align: center;
    font-family: interregular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: 0.252px;
}/* Правый список */

 /* Вторая секция */

.longsection{
    display: flex;   
    justify-content: center;    
    background-color: #F4EFE9;   
}
.block0{
    display: flex;
    
    flex-direction: column;
    gap: 80px;
    align-content: space-around;
    max-width: 1280px;
    padding: 0 40px;
}
.container1{   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.built{
    
    text-align: right; 
}
.built h3{   
    margin-bottom: 24px;
    color: #1E1928;   
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}
.built p{
    color: rgba(30, 25, 40, 0.80);    
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;
}


                    .Standing{
                        
                        text-align: left;
                        /* margin-left: 29px;*/
                    }
                    .Standing h3{
                        margin-bottom: 24px;
                        color: #1E1928;
                        font-family: Roboto;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 42px;
                    }
                    .Standing p{
                        text-align: left;
                        color: rgba(30, 25, 40, 0.80);
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; 
                        letter-spacing: 0.252px;
                    }
                  
            

.Easily-track{
text-align: right;
}
.Easily-track h3{
margin-bottom: 24px;
color: #1E1928;                    
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px;
}
.Easily-track p{
color: rgba(30, 25, 40, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.252px;
}
.smartphone-block{
min-width: 600px;

}
                    /* .block4{                    
                        display: flex;
                        min-width: 1200px;
                        align-items: center;
                        justify-content: space-around;
                    } */
                    .Paperwork{
                        text-align: left;                                              
                    }
                    .Paperwork h4{
                        margin-bottom: 24px;
                        color: #1E1928;
                        font-family: Roboto;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 42px; /* 131.25% */
                    }
                    .Paperwork p{
                        color: rgba(30, 25, 40, 0.80);
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0.252px;
                    }
                    .Paper{
                        min-width: 600px;
                    }

.Listen-in{
    text-align: right;
}
.Listen-in h4{
margin-bottom: 24px;
color: #1E1928;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.Listen-in p{
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;
}
.play2, .play{
    display: none;
}
.Listen-block{
    min-width: 600px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #F4EFE9;
    text-align: center;
    padding: 144px 0px 302px 0px;
    }

.mazeh4{
    color: #1E1928;
    
    /* Шрифт */
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
}
.icons-block{
    
    margin:80px 0px;
    
} 
.icons-block img{
    height: 160px; 
}
.See_Full_Library{
    text-decoration: none;
    padding: 10px 33px;
    border: 1px solid #1E1928;
    border-radius: 9999px;
    background: #F4EFE9;
    text-align: center;
/* Шрифт */
    color: #1E1928;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.section-5{ 
        
    padding: 305px 0px;
    background-color: #592141;    
    position: relative;
}

.users{
    color: #F4EFE9;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;
}    
.users:after{
    width: 41px;
    height: 74px;
    margin: auto;
    padding-top: 26px;
    content: "“";
    display: block;
    
    color: #F4EFE9;
    text-align: center;
    font-family: Roboto;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    }
.Users_block{
    max-width: 828px;
    width: 100%;
    margin: auto;
    }
.feel{   
color: #F4EFE9;
text-align: center;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.roger{
margin-top: 32px;
color: #F4EFE9;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.empaty{
    margin-top: 28px;
}
.whiteblock2{
    
    display: flex;
    border-radius: 8px;    
    max-width: 1200px;
    width: 100%;
    margin: auto;    
    justify-content: center;
    align-items: center;
    background: #fff;    
    position: absolute;
    top: -158px;
    left: calc(50% - 600px);
    padding: 80px;
}
.wbcontent{
    max-width: 672px;
}
.security{
color: #1E1928;
text-align: center;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 42px;
}
.empaty{
color: rgba(30, 25, 40, 0.80);
text-align: center;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 176.471% */
letter-spacing: 0.252px;
}
 /* Карусель */

    
.icons-block.owl-carousel.owl-drag.owl-loaded .owl-item{
    text-align: center;
    display: flex;
    justify-content: center;
}

.faq{
    padding: 100px;
    background-color: #FFFFFF;
}
.faq .container h4{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-style: normal;
}

.faq .container{
    margin: auto; 
    display: flex;
    flex-direction: column;
    }
.faq .ui-accordion .ui-accordion-header{
background-color: white;
border: solid 2px black;
padding: 15px;
border-radius: 20px;
color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.252px;
}
.faq .ui-accordion .ui-accordion-header{
    /* text-align: right; */
    
}
.faq .ui-accordion .ui-accordion-header.ui-state-active{
    color: black;
    border-top: 2px solid black;
    border-radius: 20px 20px 0 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 0px solid black;
    background-color: #F4EFE9;
}
.faq .ui-accordion .ui-widget-content{
    border-radius: 0px 0px 20px 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.faq .ui-accordion .ui-accordion-content.ui-widget-content{
    background-color: #F4EFE9;
    color: rgba(30, 25, 40, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.252px;
}
.faq .ui-accordion h3{

}

.faq .ui-accordion .ui-accordion-content.ui-widget-content-active p{    
margin-bottom: 5px;    
    }
.faq .ui-accordion .ui-accordion-content.ui-widget-content:nth-child(4){
max-height: 120px;    
}
.faq .ui-widget{
}

.element.style {
min-height: 150px;
}
.ui-state-active .ui-icon{
background-image: none;
}

.ui-icon, .ui-widget-content, .ui-icon span{
background-image: none;
}
.faq .ui-accordion .ui-accordion-header:before{
    display: inline-flex;
    
    content:"";
    background-image: url('../images/expand.svg');
    background-repeat: no-repeat;

    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
}
.faq .ui-accordion .ui-accordion-header-active:before{
    display: inline-flex;
    content:"";
    transform: rotate(360deg);
    transition: 0.3s;
    background-image: url('../images/expand0.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
}
.faq .ui-accordion .ui-icon-triangle-1-e{
background-image: none;
}
/* .faq .ui-accordion .ui-accordion-header .ui-icon:before{
    display: inline-flex;    
    content:"V";
    background-image: url('../images/expand.svg');
    background-repeat: no-repeat;
    color: black;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
    z-index: 6;
} */