
@font-face {
    font-family: 'interregular';
    src: url('../fonts/inter-regular-webfont.eot');
    src: url('../fonts/inter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter-regular-webfont.woff2') format('woff2'),
         url('../fonts/inter-regular-webfont.woff') format('woff'),
         url('../fonts/inter-regular-webfont.ttf') format('truetype'),
         url('../fonts/inter-regular-webfont.svg#interregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4EFE9;
}
header{
    padding: 40px 0;
    margin-bottom: 80px;
}
.container{
    max-width: 1200px; 
    margin: auto; 
}
.d-flex{
    display: flex; 
    justify-content: space-between;
}
.container.d-flex{
    background-color: red;
}


my
#navigation{
    display: flex; 
    list-style: none;
}
.item_link{
    text-decoration: none;
    text-decoration: none;
    color: #1E1928;
    font-family: Roboto,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
header nav ul li:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}
.leftlist{    
    list-style: none;
}
.leftlist li:before{
    display: inline-flex;
    justify-content: center;
    content:"1";
    background-color: black;    
    margin-right: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
}
.leftlist li:before{ /*Number -1 Font-style*/
    color: #EDE6DD;

text-align: center;
font-family: interregular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: 0.252px;
}
.leftlist li:nth-child(3):before{
    display: inline-flex;
    justify-content: center;
    content:"2";
    background-color: black;    
    margin-right: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
}
.leftlist li:nth-child(3):before{ /*Number -2 Font-style*/
    color: #EDE6DD;

text-align: center;
font-family: interregular;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
letter-spacing: 0.252px;
}
.leftlist li:nth-child(5):before{
    display: inline-flex;
    justify-content: center;
    content:"3";
    background-color: black;    
    margin-right: 24px; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
}
.leftlist li:nth-child(5):before{ /*Number -3 Font-style*/
    color: #EDE6DD;

    text-align: center;
    font-family: interregular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: 0.252px;
}
.leftlist li{ /* List font-stile */
    color: #1E1928;
    font-family: interregular;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
    letter-spacing: 0.252px;
}