@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "mobile_menu.css";
@import "style.css";



@font-face {
  font-family: 'interregular';
  src: url('../fonts/inter-regular-webfont.eot');
  src: url('../fonts/inter-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter-regular-webfont.woff2') format('woff2'),
       url('../fonts/inter-regular-webfont.woff') format('woff'),
       url('../fonts/inter-regular-webfont.ttf') format('truetype'),
       url('../fonts/inter-regular-webfont.svg#interregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #EDE6DD;
}

// @import "max-screen";
@import "header";
@import "section-1";
@import "section-2";
@import "longsection";
@import "section-4-5-6";
@import "media";


