@charset "UTF-8";
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.section-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #F4EFE9;
  text-align: center;
  padding: 144px 0px 302px 0px;
}
@media screen and (max-width: 431px) {
  .section-4 {
    background: #F4EFE9;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }
}
.section-4 .mazeh4 {
  color: #1E1928;
  /* Шрифт */
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 152.941% */
  letter-spacing: 0.252px;
}
@media screen and (max-width: 431px) {
  .section-4 .mazeh4 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 431px) {
  .section-4 .icons-block {
    display: unset;
    padding: unset;
    margin: 20px 0px;
  }
}
.section-4 .icons-block.owl-carousel {
  margin: 80px 0px;
}
.section-4 .icons-block.owl-carousel img {
  height: 160px;
}
@media screen and (max-width: 431px) {
  .section-4 .icons-block.owl-carousel img .icon9 {
    align-items: center;
    border-radius: 8px;
    text-align: center;
    width: 310px;
    height: 160px;
    background-color: #FFFFFF;
  }
}
@media screen and (max-width: 431px) {
  .section-4 .icons-block.owl-carousel .See_Full_Library {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: #FFFFFF;
    border-radius: 8px;
    background: #1E1928;
  }
}
.section-4 .icons-block.owl-carousel.owl-drag.owl-loaded .owl-item {
  text-align: center;
  display: flex;
  justify-content: center;
}
.section-4 .See_Full_Library {
  text-decoration: none;
  padding: 10px 33px;
  border: 1px solid #1E1928;
  border-radius: 9999px;
  background: #F4EFE9;
  text-align: center;
  /* Шрифт */
  color: #1E1928;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.section-5 {
  padding: 305px 0px;
  background-color: #592141;
  position: relative;
}
@media screen and (max-width: 431px) {
  .section-5 {
    display: flex;
    flex-direction: column;
    padding-top: unset;
    padding-bottom: unset;
    background-image: unset;
  }
}
.section-5 .whiteblock2 {
  display: flex;
  border-radius: 8px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: absolute;
  top: -158px;
  left: calc(50% - 600px);
  padding: 80px;
}
@media screen and (max-width: 431px) {
  .section-5 .whiteblock2 {
    padding: 25px 5px;
    border-radius: unset;
    position: unset;
    top: unset;
    left: unset;
  }
}
.section-5 .whiteblock2 .wbcontent {
  max-width: 672px;
}
.section-5 .whiteblock2 .wbcontent .security {
  color: #1E1928;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}
.section-5 .whiteblock2 .wbcontent .empaty {
  margin-top: 28px;
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 176.471% */
  letter-spacing: 0.252px;
}
@media screen and (max-width: 431px) {
  .section-5 .whiteblock2 .Users_block {
    padding: 15px;
    width: 100%;
    margin: auto;
  }
}
.section-5 .whiteblock2 .Users_block .users {
  color: #F4EFE9;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 431px) {
  .section-5 .whiteblock2 .Users_block .users {
    font-size: 24px;
  }
}
.section-5 .whiteblock2 .Users_block .users:after {
  width: 41px;
  height: 74px;
  margin: auto;
  padding-top: 26px;
  content: "“";
  display: block;
  color: #F4EFE9;
  text-align: center;
  font-family: Roboto;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
}
@media screen and (max-width: 431px) {
  .section-5 .whiteblock2 .Users_block .users:after {
    width: 31px;
    height: 44px;
    padding-top: 8px;
  }
}
.section-5 .whiteblock2 .Users_block .feel {
  color: #F4EFE9;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
@media screen and (max-width: 431px) {
  .section-5 .whiteblock2 .Users_block .feel {
    font-size: 20px;
  }
}
.section-5 .whiteblock2 .Users_block .roger {
  margin-top: 32px;
  color: #F4EFE9;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (max-width: 431px) {
  .section-5 .whiteblock2 .Users_block .roger {
    margin-top: 15px;
  }
}

/* Секция газеты */
.newspapers {
  background-color: #EDE6DD;
}
.newspapers .papers_presentation {
  text-align: center;
  padding-top: 144px;
  padding-bottom: 256px;
}
.newspapers .papers_presentation h5 {
  color: #1E1928;
  text-align: center;
  font-family: Roboto;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}
.newspapers .papers_presentation .newspapers_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.newspapers .papers_presentation .newspapers_list img {
  margin-top: 64px;
  border-radius: 8px;
  background-color: rgba(30, 25, 40, 0.08);
  width: 288px;
  height: 144px;
  padding: 24px 29px;
}/*# sourceMappingURL=section-4-5-6.css.map */